@using System.Configuration
@model EstiEnFrancois.Models.RsvpModel

<div id="rsvpModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-overlay hidden">
                <i class="fa fa-4x fa-gear fa-spin fa-fw"></i>
            </div>
            @using (Html.BeginForm("Rsvp", "Home"))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Kom ons partie!</h4>
                </div>
                <div class="modal-body">
                    <p>Vertel ons wie jy is en ons sal seker maak daar's 'n plekkie vir jou!</p>
                    <p>Julle kan ons ook gerus kontak per e-pos by <a href="mailto:rsvp@esti-en-francois.co.za">rsvp@esti-en-francois.co.za</a>
                    </p>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Names)
                        @Html.TextBoxFor(x => x.Names, new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Email)
                        @Html.TextBoxFor(x => x.Email, new {@class = "form-control", @type = "Email"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.TelNumber)
                        @Html.TextBoxFor(x => x.TelNumber, new {@class = "form-control"})
                    </div>
                    <div>
                        <div class="g-recaptcha" data-sitekey="6LdHpQ0TAAAAAHJCOWRitoW5SKgjlqVkbRhm1070"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-default">Sal bietjie later!</button>
                    <input type="submit" class="btn btn-primary btn-modal-rsvp" value="Reg so!"/>
                </div>
            }
        </div>
    </div>
</div>
